*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.backgroundReview{
    background-color: rgb(2, 2, 2);
    height: auto;
    width: 100vw;
    display: grid;
    grid-template-columns:55% 40%;
}

.backgroundReviewCard{
    background-color: rgb(44, 43, 43);
    height: auto;
    margin-top: 5rem;
    margin-left: 5rem;
    border-radius: 4rem;
}

.reviewContainer{
   padding: 5rem;
}

.backgroundReviewForm{
    background-color: rgb(44, 43, 43);
    height: auto;
    margin-top: 5rem;
    border-radius: 4rem;
    margin-right: 5rem;
    margin-left: 7rem;
}