*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.backgroundReview{
    background-color: rgb(57, 56, 56);
    height: auto;
    
    display: grid;
    grid-template-columns:55% 40%;
}

.backgroundReviewCard{
    background-color: rgb(44, 43, 43);
    height: auto;
    margin-top: 5rem;
    margin-left: 5rem;
    border-radius: 4rem;
}

.reviewContainer{
   padding: 5rem;
   
}

.backgroundReviewForm{
    background-color: rgb(44, 43, 43);
    height: auto;
    margin-top: 5rem;
    border-radius: 4rem;
    margin-right: 5rem;
    margin-left: 2rem;
}

.reviewformbackground{
    background-color: rgb(0, 0, 0);
    height: 25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    border-radius: 2rem;

   
}