@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Source+Sans+Pro:wght@400;700&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.art-get-request-encloser{
    background-color: rgb(36, 35, 35);
    border-radius: 2rem;
    width: 20rem;
    padding: 0.8rem;
    margin-bottom: 2rem;
   
}

.art-image{
    width: 300px;
    border-radius: 2rem;
    border: solid black;
    padding: 0.8rem;

    
}

h3{
    font-family: sans-serif;
    font-weight: bolder;
    color: aliceblue;
}

h2{
    font-family: sans-serif;
    font-weight: bolder;
    color: aliceblue;
}

